<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,viewport-fit=cover" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!-- UC默认竖屏` UC强制全屏 -->
  <meta name="full-screen" content="yes" />
  <meta name="browsermode" content="application" />
  <!-- QQ强制竖屏` QQ强制全屏 -->
  <meta name="x5-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="x5-page-mode" content="app" />
  <title>XXX</title>
  <script src='../lib/flexible.js'></script>
</head>

<body>
  <img class="icon-share" id="btnShare" src="../assets/btnShare.png" alt="btnShare">
  <div id="main" class="main">

  </div>

  <footer class="download-wrap" id="downloadWrap">
    <img class="download-logo" src="../assets/logo.png">
    <div class="txt-cont">
      <h3>金诚逸</h3>
      <p>ONE WORLD ONE JC</p>
    </div>
    <a class="btn-load" id="btnDownload">下载 APP</a>
  </footer>

  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="https://static.mlinks.cc/scripts/dist/mlink.min.js"></script>

  <!-- TODO swipe处理 -->
  <script>
    // 百度统计
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?bafb1dd0b5a363f7eb5bd93cb4c8269f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>
